* {
margin: 0;
padding: 0;
}

.flex {
  display: flex;
}

.center {
justify-content: center;
align-items: center;
align-content: center;
}

.chatbox {
border: 1px solid black;
flex-flow: column wrap;
margin: 10vh 20vh;
padding: 5vh;
gap: 2vh;
}

.chatbox__header {
border: 1px solid black;
width: 100%;
padding: 4vh
}

.chatbox__other {
border: 1px solid black;
width: 100%;
padding: 4vh;
justify-content: end;
}

.chatbox__main {
border: 1px solid black;
width: 100%;
padding: 4vh;
justify-content: start;
}

.chatbox__display {
border: 1px solid black;
width: 100%;
padding: 4vh
}

.chatbox__text {
border: 1px solid black;
width: 100%;
padding: 4vh
}