.popup-container {
  height: 60vh;
  width: 70vw;
  color: black;
  font-family: nokiafont;
  filter: drop-shadow(0px 15px 15px #222);
  display: flex;
  flex-direction: column;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin: 20px;
}

.actual-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.image {
  position: relative;
  width: 30vh;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin: 2em;
  border-radius: 20px;
  display: flex;
  filter: drop-shadow(0px 10px 5px #222);
}

.modal-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #6899b4;
  align-items: center;
  width: 50vw;
  height: 60vh;
  border-radius: 20px;
  flex-direction: column;
}

.love-potion {
  width: 5em;
  margin-bottom: 2em;
  filter: drop-shadow(5px 5px 5px #222);
  animation: float 2s ease-in-out infinite;
}

/* .more-animation {
  animation: fadeGlow 2s ease-in-out infinite;
} */

@keyframes fadeGlow {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  30% {
    opacity: 0.8;
    transform: rotate(3deg);
  }
  60% {
    opacity: 1;
    transform: rotate(-3deg);
  }
  100% {
    opacity: 0.8;
    transform: rotate(0deg);
  }
}

@keyframes float {
  0% {
    filter: drop-shadow(5px 15px 5px #222);
    transform: translatey(0px);
    opacity: 0.8;
  }
  50% {
    filter: drop-shadow(5px 25px 5px #222);
    transform: translatey(-20px);
    opacity: 1;
  }
  100% {
    filter: drop-shadow(5px 15px 5px #222);
    transform: translatey(0px);
    opacity: 0.8;
  }
}

.match-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2em;
  margin-top: 2em;
  text-shadow: 0 1px 0 #5186aa, 0 2px 0 #5186aa, 0 3px 0 #5186aa,
    0 4px 0 #416c88;
}

.message-button {
  cursor: pointer;
  height: 4em;
  width: 8em;
  background: transparent;
  font-family: nokiafont;
  animation: fadeGlow 1s ease-in-out infinite;
}

.message-button:hover {
  transform: scale(1.2);
}

.name-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: end;
  margin-left: 0.5em;
  margin-top: -1.5em;
  font-size: smaller;
}

.exit-button {
  position: relative;
  right: -27rem;
  height: 4em;
  width: 3em;
  background-color: transparent;
  border: none;
  margin-left: 1em;
  cursor: pointer;
  background: url("../misc/x-icon.png");
  background-size: 90%;
  background-repeat: no-repeat;
}

.exit-button:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 0 2em black);
}

.love-letter {
  height: 4em;
}
