* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.left {
  justify-content: start;
}

.right {
  justify-content: end;
}

.center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.chatbox {
  border: 1px solid black;
  flex-flow: column wrap;
  margin: 10vh 20vh;
  padding: 5vh;
  gap: 2vh;
}

.chatbox__header {
  border: 1px solid black;
  width: 100%;
  padding: 4vh;
}

.chatbox__other {
  border: 1px solid black;
  width: 100%;
  padding: 4vh;
  justify-content: start;
}

.chatbox__main {
  border: 1px solid black;
  width: 100%;
  padding: 4vh;
  justify-content: end;
  align-items: flex-end;
  align-content: flex-end;
}

.chatbox__display {
  border: 1px solid black;
  width: 100%;
  padding: 4vh;
  flex-flow: column;
}

.chatbox__text {
  border: 1px solid black;
  width: 100%;
  padding: 4vh;
}

.inputField {
  flex: 1;
}
